<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <section id="footer"> -->
    <footer class="footer">

    <div class="upperinfo">
        
            <h2>About Us</h2>
            <p class="pfoot">Lorem ipsum dolor sit amet consectetur adipisicing elit.Assumenda ut at aperiam rem vitae <br>porro corporis suscipit error harum, sapiente eum,blanditiis dolorem debitis nam <br>obcaecati quis officiis maiores ratione. Iste.</p>
        </div>
        <hr>
    <div class="upperinfo">
        <h2>Cities we deliver to</h2>
        <p>
            <ul>
                <li>Delhi</li>
                <li>Noida</li>
                <li>Mumbai</li>
                <li>Bengaluru</li>
                <li>Chennai</li>
                <li>Goa</li>
                <li>Chandigarh</li>
                <li>Lucknow</li>
                <li>Kanpur</li>
                <li>Jaipur</li>
                <li>Udaipur</li>
                <li>Manipal</li>
                </ul>

                <ul>
                    <li>Vijayawada</li>
                    <li>Jodhpur</li>
                    <li>Ajmer</li>
                    <li>Kota</li>
                    <li>Mussoorie</li>
                    <li>Rishikesh</li>
                    <li>Jalandhar</li>
                    <li>Jammu</li>
                    <li>Manali</li>
                    <li>Dharamshala</li>
                    <li>Raipur</li>
                  
                </ul>
            <hr>
        
            <h2>Contact Us</h2>
            <p>Address: <span>Noida</span></p>
            <p>Phone No: <span>+91 9182891</span></p>
            <p>Email: <span>foods@foodglitter.com</span></p>
            

        </p>
        <div class="socialMedia">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
            </div>
                </div>
            </div>
    </div>
    <hr>
    <div class="endfoot">
        Copyright  © 2022 FoodGlitter.com | All rights reserved
    </div>
</footer>
<!-- </section> -->